<nav class="navbar">
    <img src="../../assets/logo-step.png" class="logo" width="80" height="80" alt="">
    <div class="navbar-menu" >
      <ul>
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/accueil" [ngClass]="{'isActive':window.location.pathname === '/accueil'}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/missions" [ngClass]="{'isActive':window.location.pathname === '/missions'}">Missions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" [ngClass]="{'isActive':window.location.pathname === '/contact'}">Contact</a>
        </li>
        <div class="darkMode" (click)="switchDarkMode()">
          <ng-container *ngIf="!darkMode;else normal">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-droplet-fill" viewBox="0 0 16 16">
              <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
            </svg>
          </ng-container>
          
          <ng-template #normal>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-droplet" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
              <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
            </svg>
          </ng-template>
        
        </div>
      </ul>
    </div>
  </nav>
  
 

  <nav aria-label="Breadcrumb" class="breadcrumb" *ngIf="breadcrumbs">
    <ul>
      <li *ngFor="let breadcrumb of breadcrumbs">
        <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      </li>
    </ul>
  </nav>