<div class="stepFiguresContainer">
    <h2 class="sectionTitle">
        <img src="../../assets/logo-step.png" class="logo" width="90" height="70" alt="">  <strong> en quelques chiffres</strong>
    </h2>

    <div class="cardsFigures">
        <ng-container *ngFor="let currentObject of objectNumbers;let i = index;">
            <div [class]="'card cardContainer_figures info' + (i + 1)" >
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-up" viewBox="0 0 16 16">
                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                    </svg>
                    <p class="mt-1 mb-1"><strong>Information</strong></p>
                </div>

                <div class="number">
                    <p class="mt-1 mb-1" #eachNumber>{{currentObject.initialValue}}</p>
                </div>

                <div class="border_figures"></div>
                <div class="footer_figures">
                    <p class="mt-2 mb-0">Lorem ipsum dolor sit amet consectetur consectetur</p>
                </div>
            </div>
        </ng-container>
        <!-- <div class="card cardContainer_figures secondInfo">
            <div class="info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-up" viewBox="0 0 16 16">
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                </svg>
                <p class="m-0"><strong>Information</strong></p>
            </div>
            <div class="number">
                <p class="mt-1 mb-1" #eachNumber>{{currentNumber}}</p>
            </div>
            <div class="border_figures"></div>
            <div class="footer_figures">
                <p class="mt-2 mb-0">Lorem ipsum dolor sit amet consectetur consectetur</p>
            </div>
        </div>
        <div class="card cardContainer_figures thirdInfo">
            <div class="info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-up" viewBox="0 0 16 16">
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"/>
                </svg>
                <p class="m-0"><strong>Information</strong></p>
            </div>

            <div class="number">
                <p class="mt-1 mb-1" #eachNumber>{{currentNumber}}</p>
            </div>
            <div class="border_figures"></div>
            <div class="footer_figures">
                <p class="mt-2 mb-0">Lorem ipsum dolor sit amet consectetur consectetur</p>
            </div>
        </div> -->
    </div>
</div>