<ng-template #contentCarsoussel>
	<div class="textContainer">
		<p class="title"><strong>Les 3 règles de la frugalité numérique</strong></p>

		<div class="contentContainer">
			<p><small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem asperiores, quas illum nesciunt ab soluta doloremque. Et debitis neque aspernatur.</small></p>
			<button type="button" class="btn btnDefault">Voir plus</button>
		</div>
	</div>
</ng-template>

<ngb-carousel *ngIf="images && displayCarousel">
	<ng-container *ngFor="let currImage of images">
		<ng-template ngbSlide>
			<ng-container [ngTemplateOutlet]="contentCarsoussel"></ng-container>
			<div class="picsum-img-wrapper">
				<img [src]="currImage">
			</div>
		</ng-template>
	</ng-container>
</ngb-carousel>