<ng-template #contentCarsoussel>
	<div class="textContainer"  [style.background-color]="bannerColor || 'rgba(255, 94, 26, 0.7)'">
		<p class="title"><strong>{{bannerText.title}}</strong></p>

		<div class="contentContainer">
			<p>{{bannerText.subTitle}}</p>
			<button type="button" class="btn btnDefault">Voir plus</button>
		</div>
	</div>
</ng-template>

<ngb-carousel *ngIf="images && displayCarousel">
	<ng-container *ngFor="let currImage of images">
		<ng-template ngbSlide>
			<ng-container [ngTemplateOutlet]="contentCarsoussel"></ng-container>
			<div class="picsum-img-wrapper">
				<img [src]="currImage">
			</div>
		</ng-template>
	</ng-container>
</ngb-carousel>

