<app-caroussel [images]="['https://picsum.photos/id/20/1900/1000']" [bannerText]="{title: 'Découvrez nos missions',subTitle:'20 ans d\'innovation au service de l\'inclusion'}" [bannerColor]="'rgba(127, 17, 224,.7)'"   [options]="{'showNavigationArrows':false,'showNavigationIndicators':false}"></app-caroussel>
<div class="missionsDescriptions mWrapper">
    <div class="">
        <p>
            Implantée à Pau (Sud-Ouest), en Nouvelle-Aquitaine (France), STEP est une
            entreprise citoyenne et responsable qui mise sur l’humain et sa diversité. Expert du
            traitement des flux documentaires et de l’environnement informatique associé,
            STEP s’est imposé, en une vingtaine d'années dans le domaine des services
            numériques et accompagne aujourd’hui de grands comptes et de nombreuses
            PMEI. Elle démontre que la compétitivité et le développement de services
            innovants à destination des professionnels (ingénierie informatique, gestion des
            flux documentaires…) riment avec insertion sociale et que la fracture numérique
            n’est pas une fatalité.<p>
    </div>
    <div>
        <p> Entreprise engagée en Nouvelle-Aquitaine, elle a su diversifier son offre au fil du
        temps et propose un modèle vertueux sur l’ensemble de ses pôles d’activité via
        des solutions globales tout en ayant à cœur de promouvoir la responsabilité vis à
        vis du territoire, de la collectivité, ou des personnes aux parcours fragilisés qu’elle
        rencontre et soutient, sans crainte d’associer compétitivité et offre de services.
        STEP , c’est plusieurs métiers dédiés, de la gestion des flux documentaires à la
        formation au numérique, en passant par les services de territoire, le tout associé
        à des expertises pointues.</p>
    </div>
</div>